<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'index.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}Statistics{% endblock %}</title>
</head>
<body>
    {%block content %}
        <div class="welcome card-body bg-light mt-5">
            <h1 style="color: orange">Hello, {{ user.username }}!</h1>
            <h3 style="color: orange">Your statistics:</h3>
            <div class="grid bg-dark">
                <div class="mt-3">
                    <p class="stats_labels">Period</p>
                    <label class="mt-5">
                        <input class='toggle' type="checkbox" checked data-toggle="toggle" data-on='Show' data-off='{{ stats[0] }}' data-onstyle="light" data-offstyle="warning" data-height="80" data-size="large">
                    </label>
                </div>
                 <div class="mt-3">
                    <p class="stats_labels">Genre</p>
                    <label class="mt-5">
                        <input class='toggle' type="checkbox" checked data-toggle="toggle" data-on='Show' data-off='{{ stats[1] }}' data-onstyle="light" data-offstyle="warning" data-height="80" data-size="large">
                    </label>
                </div>
                 <div class="mt-3">
                    <p class="stats_labels">Director</p>
                    <label class="mt-5">
                        <input class='toggle' type="checkbox" checked data-toggle="toggle" data-on='Show' data-off='{{ stats[2] }}' data-onstyle="light" data-offstyle="warning" data-height="80" data-size="large">
                    </label>
                </div>
                 <div class="mt-3">
                    <p class="stats_labels">Language</p>
                    <label class="mt-5">
                        <input class='toggle' type="checkbox" checked data-toggle="toggle" data-on='Show' data-off='{{ stats[3] }}' data-onstyle="light" data-offstyle="warning" data-height="80" data-size="large">
                    </label>
                </div>
                 <div class="mt-3">
                    <p class="stats_labels">Duration</p>
                    <label class="mt-5">
                        <input class='toggle' type="checkbox" checked data-toggle="toggle" data-on='Show' data-off='{{ stats[4] }} min' data-onstyle="light" data-offstyle="warning" data-height="80" data-size="large">
                    </label>
                </div>
            </div>
        </div>


    {% endblock %}

</body>
</html>